<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <description>Web Programming 2017 Project</description>
    <display-name>BuyHub</display-name>
    <distributable/>
    <context-param>
        <description>The url of the MYSQL persistence system database position</description>
        <param-name>dburl</param-name>
        <param-value>jdbc:mysql://localhost:3306/buyhub</param-value>
    </context-param>
    <!-- Link to the bundle for multilanguage -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>resources.buyhubBundle</param-value>
    </context-param>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>it.unitn.buyhub.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/restricted/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>it.unitn.buyhub.listeners.WebAppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <error-page>
        <location>/common/error.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    
    <jsp-config> 
        <taglib>
            <taglib-uri>/WEB-INF/tld/navbar.tld</taglib-uri>
            <taglib-location>/WEB-INF/tld/navbar.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
