<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <description>Web Programming 2017 Project</description>
    <display-name>BuyHub</display-name>
    <distributable/>
    <!--  <context-param>
        <description>The url of the MYSQL persistence system database position</description>
        <param-name>dburl</param-name>
        <param-value>jdbc:mysql://localhost:3306/buyhub</param-value>
    </context-param>
    <context-param>
        <description>The number of categories present in language bundle and used in DB</description>
        <param-name>categoriesNumber</param-name>
        <param-value>42</param-value>
    </context-param>
    <context-param>
        <description>The path for the uploadedContent/* files (relative to catalina.base)</description>
        <param-name>BuyHub_uploadedContent/</param-name>
        <param-value>42</param-value>
    </context-param>
    -->
    <!-- Link to the bundle for multilanguage -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>resources.buyhubBundle</param-value>
    </context-param>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>it.unitn.buyhub.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>it.unitn.buyhub.filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/restricted/*</url-pattern>
        <url-pattern>/EditProductServlet</url-pattern>
        <url-pattern>/ProductTableTagHandler</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/restricted/admin/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>it.unitn.buyhub.listeners.WebAppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.user.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.user.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.user.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveReviewServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.RemoveReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.AutoCompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveNotificationServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.RemoveNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvatarUploadServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.user.AvatarUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyAccountServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.user.ModifyAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyCartItemNumberServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.cart.ModifyCartItemNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmptyCartServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.cart.EmptyCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.cart.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.cart.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReviewServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.AddReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadedContentServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.UploadedContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewShopServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.user.CreateNewShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAccountServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.user.VerifyAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopsServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.admin.ShopsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnableShop</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.admin.EnableShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.admin.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.user.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestPasswordChange</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.user.RequestPasswordChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.user.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.user.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.user.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditShopServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.user.EditShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.order.PlaceOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayedServlet</servlet-name>
        <servlet-class>it.unitn.buyhub.servlet.order.PayedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveReviewServlet</servlet-name>
        <url-pattern>/removereview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyCartItemNumberServlet</servlet-name>
        <url-pattern>/modifycartitemnumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveNotificationServlet</servlet-name>
        <url-pattern>/removenotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/removefromcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmptyCartServlet</servlet-name>
        <url-pattern>/emptycart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReviewServlet</servlet-name>
        <url-pattern>/addreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <url-pattern>/autocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyAccountServlet</servlet-name>
        <url-pattern>/restricted/ModifyAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvatarUploadServlet</servlet-name>
        <url-pattern>/restricted/avatarUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadedContentServlet</servlet-name>
        <url-pattern>/UploadedContent/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewShopServlet</servlet-name>
        <url-pattern>/CreateNewShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAccountServlet</servlet-name>
        <url-pattern>/verifyAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopsServlet</servlet-name>
        <url-pattern>/restricted/admin/shops</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnableShop</servlet-name>
        <url-pattern>/restricted/admin/enableshop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/restricted/admin/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestPasswordChange</servlet-name>
        <url-pattern>/requestPasswordChange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/EditProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditShopServlet</servlet-name>
        <url-pattern>/EditShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <url-pattern>/restricted/order/PlaceOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayedServlet</servlet-name>
        <url-pattern>/restricted/order/payed</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--<error-page>
        <location>/common/error.jsp</location>
    </error-page>-->
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
