/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3-lug-2017, 12.17.51
    Author     : matteo
*/

.site-header-link:visited {
    color: #0366d6 !important;
}

.site-header-link:active {
    color: #0366d6 !important;
}

.site-header-link {
    color: #0366d6 !important;
    font-weight: bold !important;
    font-size: 15px !important;
}

.site-header-link2:visited {
    color: #0366d6 !important;
}

.site-header-link2:active {
    color: #0366d6 !important;
}

.site-header-link2 {
    color: #0366d6 !important;
    font-weight: bold !important;
    font-size: 13px !important;
}

.uppercase {
    text-transform: uppercase;
}

.two-chars{
    font-family: monospace;
    width: 2ch;
    overflow: hidden;
    white-space: nowrap;
}

body.login{  
    margin: auto;
}

.panel{
    width: 300px;
    display: block;
    margin: auto;
    min-width: 300px;
}

.to-right{
    float:right;
}

#login-form{
    text-align: left;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 1;
    left: 27px;

    bottom: 14px;
    background: #ff0000;
    border: 0px solid #ff0000;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 13px;
    font-size: 65%;
}

.popover-title { display: none; }

.popover {
    white-space: normal !important;
    font-size: 0.9em;
    width: 300px;
    border-radius: 3px;
    padding: 0px;
}

.user-popover .popover{
    width: 100px;
}

.glyphicon{
    font-size: 1.2em;
}

.notification-element{
    padding: 15px;
}

.notification-element img{
    height: 45px;
    border-radius: 50%;

}

.notification-element table{
    width: 100%;
}

#image{
    width: 65px;
}

.popover-content {
    padding: 0px 0px;
}

hr{
    padding: 0px;
    margin: 0px;    
}

.user{
    width: 100%;  
    border-radius: 0%;
}


.no-notification{
    text-align: center;
    padding: 20px;
    color: #777;
    font-size: 1.6em;
}


.product_title{
    font-size: 200% ;
    font-weight: bold;
}
.product_price{

    font-size: 200% ;
    font-weight: bold;
}
.product_description{

}
.product_shop_owner
{
    text-align: right;
    font-style: italic; 
}
.stars
{
    vertical-align: middle;

}

.review_img_box
{
    padding-left: 0px;
    padding-right: 0px;
    width: 100px;
}
.reviews_header, .where_we_are
{
    font-size: 150%;
    font-weight: bold;
}

.review-block-title{
    font-weight: bold;
}
.row .review
{
    margin-bottom: 20px;
}
.reviews_header
{
    margin-bottom: 25px;
    margin-top: 25px;

}

div.detailed_review_header
{
    display: inline-block;
}
.reviews hr
{
    margin-top: 20px;
    margin-bottom: 20px;

}
.map_wrapper {
    height: 400px;
    width: 100%;
}

#map {
    width: 100%;
    height: 400px;
}
.where_we_are
{
    font-size: 150%;
}
.shop_address div
{
    margin-bottom: 20px;
}
.search_bar{
    padding-top: 10px;

}
.categories_menu
{
    overflow:auto;

}

/*Trick to solve https://github.com/twbs/bootstrap/issues/10482*/
.search-btn
{
    height: 34px;
    z-index: 100;
}


#search{
    display:block;
    text-align:center;
}

@media (max-width: 1059px) and (min-width: 745px){
    .navbar-form .input-group {
        display: flex ; 
    }
}

@media (max-width: 745px){
    #search_category {
        width: 100px !important;
    }
}

#search_category {
    width: 180px;
} 

#width-tmp-select{
    display : none;
} 

/* Error page */

.error-container{
    height: 60%;
    position: relative;
}

#background-cloud{
    width: 100%; 
    height: 35%; 
    position: absolute;
    bottom: 0;
    left: 0; 
}

#rocket{
    height: 80%; 
    position: absolute;
    bottom: 9%;
    left: 15%; 
}

#e404{
    height: 37%; 
    position: absolute;
    bottom: 37%;
    left: 45%; 
}

.suggestions{
    margin-top: 20px;
    text-align: center;
}


/* search.jsp */
.center{
    text-align: center;
}


#footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}